.person-item{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 1rem;
}

.person-contact{
  width: 50%;
}

.title{
  text-align: center;
  margin-bottom: 3rem;
}