.person-item{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: .5rem;
}

.person-contact{
  width: 50%;
  padding-block: 1rem;
}

.title{
  text-align: center;
  margin-bottom: 3rem;
}
.deleteCol{
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}